<header class="sticky-top">
  <nav class="navbar navbar-light bg-custom">
    <a [routerLink]="['']" class="navbar-brand text-white">GatitoBook</a>
    <div *ngIf="user$ | async as user">
      <div *ngIf="user.name; else login">
        <div class="col-12">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
              <i class="fa fa-user-o" aria-hidden="true"></i>
              {{user.name}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a (click)="logout()" class="text-dark dropdown-item">Logout</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <ng-template #login>
    <span class="navbar-text">
      <a [routerLink]="['']" class="text-white">Login</a>
    </span>
  </ng-template>
</header>