.bg-custom {
  background:#222;
}
a {
  cursor: pointer;
}
a:hover {
  text-decoration: none;
  color: #dcdcdc!important;
}
#logout {
  display: none;
}
.dropdown-menu {
  min-width: inherit;
}
button {
  text-transform: capitalize;
}