
.col-lg-6 {
    padding: 5rem 4rem;
}
.container {
    display: flex; 
    justify-content:center; 
    align-items:center;
    vertical-align: middle;
    height: 42em;
    background-color: #ffe9dd;
    max-width: inherit;
}
.bg-light {
    background-color: #fff!important;
    border-radius: 6px 0 0 6px;
}
.bg-custom {
    background-color: #ffe9dd!important;
    border-radius: 0 6px 6px 0;
}
.col-lg-6 {
    box-shadow: 1px 1px 8px 1px #c8bcb6;
}